:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
  --bs-gradient: linear-gradient(0, #f7f3ff 0%, #fff 100%);
}

body {
  font-family: var (--default-font-family);
  background: var(--bs-gradient);
}

.App {
  font-family: var(--default-font-family);
  text-align: center;
  max-width: 1200px;
  display: block;
  margin: 70px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--box-shadow-rgba);
  background: white;
  padding-top: 30px;
}
