:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

.temperature {
  font-size: 70px;
  font-family: var(--default-font-family);
  color: #a2a8d3;
  font-weight: bold;
}

.unit {
  font-size: 10px;
  position: relative;
  top: -38px;
  right: 10px;
  color: #a2a8d3;
}

a {
  text-decoration: none;
  color: #a2a8d3;
}
a:hover {
  text-decoration: underline;
}
