:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

.DisplayWeather {
  border-radius: 6px;
  padding: 25px 0;
  border: 1px solid #edebf4;
}

.fa-location-dot {
  color: #a2a8d3;
  font-size: 40px;
  margin-right: 30px;
}

.icon {
  width: 110px;
  position: relative;
  top: -25px;
  right: 10px;
}

.city-name {
  font-size: 30px;
  font-weight: bold;
}

.temperaturedisplay {
  margin: 51px 5px;
}

.details {
  background: #edebf4;
  color: #a2a8d3;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.details:hover {
  background: #a2a8d3;
  color: white;
}
