:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

.DisplayWeather {
  border-radius: 6px;
  padding: 25px 0 25px 0;
  margin: 10px 0 10px 0px;
  border: 1px solid #edebf4;
}

.icon {
  width: 100px;
  position: relative;
  top: -15px;
  margin-right: 10px;
}

.city-name {
  font-size: 30px;
  font-weight: bold;
}
