.weekday {
  border-radius: 5px;
  border: 2px solid #edebf4;
  font-weight: lighter;
  padding: 10px;
  margin-bottom: 10px;
}

.weekday:hover {
  background: #6c61f6;
  color: white;
}

.sunsetpanel,
.moonsetpanel {
  border-radius: 5px;
  border: 2px solid #edebf4;
  padding: 40px;
}
