.weekday {
  background: #f2f2f1;
  border-radius: 5px;
  margin: 0 7px 0px 0;
  width: 90px;
  padding: 20px 20px;
  font-weight: lighter;
}

.weekday:hover {
  background: #100e3b;
  color: white;
}
