.icon-daily {
  width: 70px;
  margin-top: -20px;
}

.weekday {
  font-weight: bold;
}

.temperature-max {
  font-weight: bold;
}

.description {
  font-weight: 200;
  opacity: 0.6;
}

.wind,
.humidity {
  font-weight: 200;
}

.ForecastDay .fa-droplet {
  color: #a2a8d3;
}

.ForecastDay .fa-wind {
  color: #bbe4e9;
}
