.weekday {
  border-radius: 5px;
  border: 2px solid whitesmoke;
  font-weight: lighter;
  padding: 10px;
  margin-bottom: 10px;
}

.weekday:hover {
  background: #100e3b;
  color: white;
}

.sunsetpanel,
.moonsetpanel {
  background: #cadefc;
  border-radius: 5px;

  padding: 40px;
}
