.fa-moon {
  color: #185792;
  font-size: 30px;
  margin-right: 5px;
}

.titel-moon {
  font-weight: bold;
  font-size: 18px;
  margin: -15px 0 35px 0;
}

.moonriseTime,
.moonsetTime {
  font-weight: bold;
  font-size: 20px;
  color: #a2a8d3;
}
