:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

body {
  background-color: #f1f0ee;
  font-family: var(--default-font-family);
}

.SearchEngine .top-row {
  height: 90px;
}

.SearchEngine section {
  background-color: white;
  margin: 15px 0;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.SearchEngine li {
  list-style: none;
}

.SearchEngine h1 {
  margin-top: 10px;
}

input[type="text"] {
  margin: 10px;
  width: 95%;
  padding: 10px 20px;
  border: 3px solid #edebf4;
  border-radius: 10px;
  background: #edebf4;
  color: #a2a8d3;
  font-weight: bolder;
}

input:focus {
  outline: none !important;
  border-color: #a2a8d3;
  box-shadow: 0 0 10px #a2a8d3;
}

.fa-magnifying-glass {
  color: #a2a8d3;
  font-size: 30px;
  position: relative;
  top: -50px;
  left: 150px;
}

::placeholder {
  opacity: 0.8;
  color: #a2a8d3;
}

@media (max-width: 576px) {
  .last-row {
    display: flex;
    flex-flow: column-reverse;
  }
  .SearchEngine .top-row {
    height: 125px;
  }
}
