body {
  background-color: #f1f0ee;
  font-family: "Gill Sans", sans-serif;
}

:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

.SearchEngine .panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba (110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba (0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 3px;
}

:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  margin: 40px 5px 20px 70px;
  width: 45%;
  padding: 10px 20px;
  border: thin double;
  border-radius: 3px;
  border-color: var(--branding-color);
}

input[type="submit"] {
  background: var(--branding-color);
  color: white;
  border: 1px solid var(--branding-color);
  border-radius: 3px;
  box-shadow: 2px 2px 4px var(--box-shadow-rgba);
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 4px;
  margin: 20px 3px;
  padding: 12px 10px;
  transition: all 200ms ease-in-out;
}

input[type="submit"]:hover {
  background: white;
  color: var(--branding-color);
  cursor: pointer;
}
