body {
  background-color: #f1f0ee;
  font-family: "Gill Sans", sans-serif;
}

:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: rgba(158, 192, 255);
  --box-shadow-rgba: rgba(0, 0, 0, 0.3);
}

.SearchEngine .panel1 {
  background-color: white;
  padding-top: 15px;
}

.SearchEngine .panel2 {
  background-color: #f2f2f1;
  padding-top: 15px;
}

.SearchEngine li {
  list-style: none;
}

.SearchEngine .display-weather,
.SearchEngine .weather-details {
  background: #cadefc;
  border-radius: 6px;
  margin: 20px;
  padding: 25px 0 25px 0;
}

input[type="text"] {
  margin: 10px;
  width: 90%;
  padding: 10px 20px;
  border: thin double;
  border-radius: 10px;
  border-color: transparent;
}

input[type="submit"] {
  background: var(--branding-color);
  color: white;
  border: 1px solid var(--branding-color);
  border-radius: 3px;
  box-shadow: 2px 2px 4px var(--box-shadow-rgba);
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 4px;
  margin: 20px 3px;
  padding: 12px 10px;
  transition: all 200ms ease-in-out;
}

input[type="submit"]:hover {
  background: white;
  color: var(--branding-color);
  cursor: pointer;
}
