.fa-sun {
  color: #f9c947;
  font-size: 30px;
  margin-right: 5px;
}

.titel-sun {
  font-weight: bold;
  font-size: 18px;
  margin: -15px 0 35px 0;
}
.sunriseTime,
.sunsetTime {
  font-weight: bold;
  font-size: 20px;
  color: #a2a8d3;
}
