.WeatherDetails {
  border-radius: 6px;
  border: 1px solid #edebf4;
  padding: 10px 0 10px 0;
}

.WeatherDetails .fa-droplet {
  color: #a2a8d3;
}

.WeatherDetails .fa-wind {
  color: #bbe4e9;
}

.WeatherDetails .fa-temperature-three-quarters {
  color: #d4e3d9;
}

.WeatherDetails .fa-equals {
  color: #f4a9a4;
}
